.profile {
  display: flex;
  flex-direction: column;
  margin: 70px auto 0;
  max-width: 410px;
}

.profile__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-bottom: 107px;
}

.profile__form {
  width: 100%;
  font-size: 11px;
  line-height: 13px;
}

.profile__line {
  border-bottom: 1px solid #E8E8E8;
  width: 100%;
}

.profile__value {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
}

.profile__label {
  font-weight: 500;
  color: #000000;
  display: block;
}

.profile__input {
  border: none;
  text-align: right;
  font-weight: 400;
  width: 80%;
  outline: none;
}

.profile__input:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 2px 2px #555;
}

.profile__bottom {
  margin-top: 204px;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.profile__edit {
  border: none;
  background: none;
  cursor: pointer;
}

.profile__edit:hover {
  opacity: 0.8;
}

.profile__logout {
  border: none;
  background: none;
  cursor: pointer;
  font-weight: 500;
  color: #EE3465;
  text-decoration: none;
}

.profile__logout:hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .profile {
    margin: 246px auto 0;
    padding-bottom: 30px;
  }

  .profile__title {
    margin-bottom: 85px;
  }

  .profile__bottom {
    margin-top: 190px;
  }
}

@media screen and (max-width: 440px) {
  .profile {
    width: calc(100% - 60px);
    margin: 63px auto 0;
    padding-bottom: 40px;
  }

  .profile__title {
    margin-bottom: 65px;
  }

  .profile__bottom {
    margin-top: 363px;
    font-size: 12px;
  }
}