.search-form__film-container {
    max-width: 100%;
  padding: 70px 70px 30px 75px;
  border: none;
  margin: 0 auto;
  box-sizing: border-box;
}
.search-form__form-field {
    max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #E8E8E8;
}

.search-form__loupe {
    background-image: url(../../images/icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    min-width: 34px;
    min-height: 34px;
    margin-left: 6px;
    background-color: inherit;
    border: none;
}

.search-form__input {
    font-family: inherit;
    color: #a0a0a0;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
    padding: 0;
}

.search-form__arrow {
    background-image: url(../../images/find.svg);
    background-repeat: no-repeat;
    background-position: center;
    min-width: 34px;
    min-height: 34px;
    background-color: inherit;
    border: none;
}

@media screen and (max-width: 805px) {
    .search-form__film-container {
        padding: 80px 30px 30px;
    }

    .search-form__loupe {
        min-width: 46px;
        min-height: 46px;
    }
    .search-form__input {
    max-width: calc(100% - 70px);
    }
}

@media screen and (max-width: 580px) {
    .search-form__loupe {
        display: none;
    }

    .search-form__input {
        text-align: left;
    }

    .search-form__film-container {
        margin: 92px 14px 43px;
        font-size: 18px;
    }
}