.register {
  display: flex;
  flex-direction: column;
  max-width: 396px;
  margin: 70px auto 0;
}

.register__header {
width: 100%;
margin-bottom: 40px;
}

.register__logo {
width: 38px;
height: 38px;
}

.register__logo:hover {
opacity: 0.8;
}

.register__title {
margin: 0;
padding: 0;
font-weight: 500;
font-size: 24px;
margin-top: 40px;
}

.register__form {
display: flex;
flex-direction: column;
gap:0;
margin-bottom: auto;

}

.register__label {
  color: #a0a0a0;
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
  padding: 0 0 10px;
}

.register__input {
  width: 100%;
  height: 46px;
  border: none;
  padding: 0 0 0 15px;
  margin: 0;
  font-size: 13px;
  line-height: normal;
  font-weight: 500;
  color: #000;
  border-radius: 8px;
  background: #f9f9f9;
}


.register__input:focus,
textarea:focus {
outline: none;
box-shadow: 0 0 2px 2px #555;
}

.register__error {
height: 12px;
font-weight: 400;
font-size: 10px;
line-height: 12px;
color: #ee3465;
margin-bottom: 10px;
}

.register__button {
  background-color: #FF6838;
  border: none;
  border-radius: 3px;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  width: 100%;
  text-align: center;
  padding: 13px 0 15px 0;
  margin-top: 69px;
  cursor: pointer;
  transition: 0.2s ease;
}

.register__button:not([disabled]):hover {
opacity: 0.8;
}

.register__button:disabled {
background-color: #a0a0a0;
}

.register__bottom {
  color: #a0a0a0;
  font-weight: 400;
  font-size: 14px;
  margin-top: 16px;
  text-align: center;
}

.register__link {
color: #FF6838;
margin-left: 6px;
cursor: pointer;
text-decoration: none;
}

@media screen and (max-width: 768px) {
  .register {
    margin-top: 0;
  }
  .register__header {
  margin-top: 232px;
}

.register__button {
  margin-top: 69px;
}

.register__container {
  margin: 232px auto 0;
}
.register__error {
  margin-top:10px;
  margin-bottom: 0;
}
}

@media screen and (max-width: 425px) {
.register {
  max-width: 260px;
  margin-top: 56px;
}
.register__title {
  margin: 0;
}
.register__container {
  min-width: 260px;
  width: calc(100% - 60px);
  margin: 0 auto 0;
  padding-bottom: 30px;
}

.register__header {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top:0px;
  margin-bottom: 80px;
}

.register__logo {
  margin-bottom: 48px;
}

.register__form {
  width: 260px;
}

.register__button {
  margin-top: 157px;
  margin-bottom: 0px;
  font-size: 12px;
  padding: 15px 0;
}

.register__bottom {
  font-size: 12px;
  text-align: center;
}
.register__label {
  padding-top: 0;
}
}